# Web Framework & Forms
Flask==3.1.3
flask_wtf==1.0.1
WTForms==3.2.1

# Database
psycopg2-binary==2.9.6
SQLAlchemy==2.0.49
flask_sqlalchemy == 3.1.1

# Environment & Utilities
python-dotenv==1.2.2
requests==2.32.5

# Email Services
Flask-Mail==0.10.0
mailtrap==2.5.0
resend==2.29.0
Flask-Login==0.6.3
# Data Validation
pydantic==2.13.3
email_validator==2.0.0
flask_bcrypt==2.3.0
sqlalchemy_utils == 0.41.0
# Debugging & Development
flask_debugtoolbar == 0.16.0
celery == 5.3.0
## just run " python -m pip install -r requirements.txt " in terminal 